html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--family-font-conversacion);
    background-color: var(--background-color-body);
}

img{
    max-width: 5vw;
    height: auto;
    align-self: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 20vh;
    top: 40vh;
    left: 42.5vw;
}
form > *{
    margin: 5px;
}

input{
    color: white;
    text-align: center;
    background-color: var(--background-color);
    border: 1px solid var(--background-color-text-ia-doc);
    border-radius: 25px;
}

button{
    max-width: 8vw;
    align-self: center;
}