html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--family-font-conversacion);
    background-image: url(../public/images/banner.png);
    background-size: cover;
    background-position: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    max-height: 50px;
    width: 100%;
    padding: 0.5rem 1rem;
}

.img_nav{
    max-width: 80px;
    height: auto;
    cursor: pointer;
    margin-top: 15px;
}
#usuario{
    width: 50px;
    margin-left: 90vw;
    color: white;
}
section{
    overflow: visible;
}
section.landing{
    text-align: center;
    color: var(--background-color-text-ia-selected);
    margin-top: -4vh;
}

.btn_comenzar{
    width: 15vw;
    height: 10vh;
    display: block;
    margin-top: 45vh;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 40px;
    border: 0;
    border-radius: 20px;
    background-color: var(--button-color);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border: 1px solid var(--background-color-text-ia-selected);
}

.fondo{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 48px;
    align-content: center;
    width: calc(15vw - 2px);
    height: calc(10vh - 2px);
    background:var(--button-color);
    font-size: medium;
    top: 1px;
    left: 0.05vw;
    position: absolute;
    z-index: 10;
    
}

.fondo:hover{
    background: rgb(19, 25, 56);
    width: 16vw;
    height: 11vh;
    top: -0.5vh;
    left: -0.5vw;
}

.animacion{
    position: relative;
    visibility: hidden;
    background: var(--background-color-text-ia-selected);
    width: 20vw;
    height: 10vh;
    top: -8.3vh;
    left: -5vw;
    animation: animacion infinite linear 5s;
    z-index: -10;
}

@keyframes animacion {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@media  (max-width: 1024px){
    .img_nav{
        max-width: 50px;
        margin-top: 15px;
    }
    #usuario{
        width: 30px;
        margin-left: 90vw;
    }
    section.landing{
        font-size: small;
    }
    .btn_comenzar{
        height: 9vh;
        margin-top: 45vh;
        font-size: small;
        border: 1px solid rgb(54, 225, 255);
        border-radius: 25px;
    }
    .btn_comenzar:hover{
        top: -1vh;
    }
    .fondo{
        top: -0.5vh;
        left: 0vw;
        font-size: medium;
    }
    .fondo:hover{
        background:var(--button-color);
        width: 16vw;
        height: 11vh;
        top: -1vh;
        left: 1vw;
    }
    .animacion{
        visibility: hidden;
    }
    
}
@media (max-width: 768px){
    .img_nav{
        max-width: 50px;
        margin-top: 15px;
    }
    #usuario{
        width: 30px;
        margin-left: 90vw;
    }
    section.landing{
        font-size: small;
    }
    .btn_comenzar{
        height: 9vh;
        margin-top: 45vh;
        font-size: small;
        border: 1px solid rgb(54, 225, 255);
        border-radius: 25px;
    }
    .btn_comenzar:hover{
        top: -1vh;
    }
    .fondo{
        top: -0.5vh;
        left: 1vw;
        font-size: small;
    }
    .fondo:hover{
        background:var(--button-color);
        width: 16vw;
        height: 11vh;
        top: -1vh;
        left: 1vw;
    }
    .animacion{
        visibility: hidden;
    }

}

@media (max-width: 480px){
    .img_nav{
        max-width: 50px;
        margin-top: 15px;
    }
    #usuario{
        width: 30px;
        margin-left: 90vw;
    }
    section.landing{
        font-size: small;
    }
    .btn_comenzar{
        height: 9vh;
        margin-top: 45vh;
        font-size: small;
        border: 1px solid rgb(54, 225, 255);
        border-radius: 25px;
    }
    .btn_comenzar:hover{
        top: -1vh;
    }
    .fondo{
        top: -0.5vh;
        left: 1vw;
        font-size: medium;
    }
    .fondo:hover{
        background:var(--button-color);
        width: 16vw;
        height: 11vh;
        top: -1vh;
        left: 1vw;
    }
    .animacion{
        visibility: hidden;
    }
}