:root[data-tema="oscuro"]{
    --background-color-body: hsla(229, 46%, 9%, 100%);
    --background-color-chats: var(--background-color-chats-oscuro);
    --background-color-chat-selected: var(--background-color-text-ia-selected-oscuro);
    --background-color-menu: hsla(229, 30%, 15%, 100%);
    --background-color-menu-oscuro: hsla(229, 30%, 15%, 100%);
    --color-text: hsla(0, 0%, 90%, 100%);
    --button-color: hsla(197, 77%, 44%, 100%);
}

:root{
    --background-color: rgb(221, 210, 193);
    --background-color-chats: rgb(88, 150, 177);
    --background-color-chats-oscuro: rgb(16, 30, 70);
    --background-color-chat-selected: rgb(30, 95, 121);
    --background-color-text-user: rgb(133, 144, 204);
    --background-color-text-user-doc: hsla(277, 14%, 57%, 100%);
    --background-color-text-ia: rgb(74, 158, 147);
    --background-color-text-ia-selected: rgb(88, 184, 189);
    --background-color-text-ia-selected-oscuro: rgb(65, 120, 122);
    --background-color-text-ia-doc: hsla(197, 52%, 38%, 100%);
    --background-color-oscuro: rgb(26, 63, 78);
    --background-color-menu: hsla(210, 10%, 92%, 0.966);
    --background-color-body: hsla(180, 35%, 55%, 0.75);
    --button-color: hsla(229, 46%, 9%, 100%);
    --color-text: hsla(0, 0, 0, 100%);
    --family-font-conversacion: Verdana, Geneva, Tahoma, sans-serif; 
    --font-size-chat: 16px;
    --font-size-menu: 14px;
    --img-height-menu: 25px;
    --img-height-menu-sub2: 16px;
    --logo-height-menu: 30px;
}
