:root{
    --background-color: hsla(219, 34%, 62%, 100%);
    --background-color-chats: hsla(198, 31%, 67%, 100%);
    --background-color-chats-oscuro: rgb(50, 64, 102);
    --background-color-chat-selected: hsla(197, 30%, 63%, 100%);
    --background-color-text-user: hsla(277, 41%, 66%, 100%);
    --background-color-text-user-doc: hsla(277, 14%, 57%, 100%);
    --background-color-text-ia: hsla(197, 77%, 44%, 100%);
    --background-color-text-ia-selected: hsla(183, 59%, 45%, 100%);
    --background-color-text-ia-selected-oscuro: rgb(65, 120, 122);
    --background-color-text-ia-doc: hsla(197, 52%, 38%, 100%);
    --background-color-oscuro: rgb(26, 63, 78);
    --background-color-menu: hsla(0, 10%, 92%, 0.966);
    --background-color-menu-oscuro: hsla(0, 0%, 53%, 0.966);
    --background-color-body: hsla(180, 90%, 92%, 0.75);
    --button-color: hsla(229, 46%, 9%, 100%);
    --color-text: hsla(0, 0, 0, 100%);
    --family-font-conversacion: Verdana, Geneva, Tahoma, sans-serif; 
    --font-size-chat: 16px;
    --font-size-menu: 14px;
    --img-height-menu: 25px;
    --img-height-menu-sub2: 16px;
    --logo-height-menu: 30px;
}
